[Unit]
Description=Automatically extract phabricator ssh keys

[Timer]
OnCalendar=*-*-* 00:00:00 
Unit=phabricator-extract-keys.service

[Install]
WantedBy=multi-user.target
