[Unit]
Description=Automatically update ssh keys from phabricator

[Service]
Type=oneshot
ExecStart=/usr/bin/phabricator-tools-import-keys %i

[Install]
WantedBy=multi-user.target
