[Unit]
Description=Phab ChatBot Service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/phabricator-tools/utilities/system/scripts/chat.sh start
ExecReload=/opt/phabricator-tools/utilities/system/scripts/chat.sh restart
ExecStop=/opt/phabricator-tools/utilities/system/scripts/chat.sh stop
KillMode=none
Restart=always

[Install]
WantedBy=multi-user.target
